extends ../layout

block content
  .uk-vertical-align.uk-text-center.uk-height-1-1
    .uk-vertical-align-middle
      - if (messages.error)
        .uk-alert.uk-alert-danger(style="display:none")
          span= messages.error
      #login
  script.
    require(['jsx!components/login'], function (Login) {
      Login.mount(document.getElementById('login'));
    });